Package: com.osito.saturated
Name: Saturated
Version: 1.0
Architecture: iphoneos-arm
Author: Osito
Depends: mobilesubstrate (>= 0.9.5000), me.chewitt.cmc
Description: Pretty freaking beautiful setup. Lots of pinks. 
Maintainer: TheBigCheese2017
Section: Setups (Messages)

