Package: com.osito.helloagain
Name: Hello Again
Version: 1.0
Architecture: iphoneos-arm
Author: Steve-luo
Depends: mobilesubstrate (>= 0.9.5000), com.aditkamath.springy
Description: Apple Event inspired Springy Addon
Maintainer: TheBigCheese2017
Section: Addons (Springy)
Homepage: https://raw.githubusercontent.com/Turtle-Store/Turtle-Store.github.io/master/screenshots/springy%20addons/helloagain/Screenshot.png
